{% load i18n pages_tags %}
{% load staticfiles %}

<section class="module-small" id="contact">

<div class="container">
<div class="row">

<div class="col-md-1 col-sm-12">
	<div class="content-box">
		<div class="content-box-icon">
			<a href="https://www.facebook.com/Circle-Blossom-1859088501039562/"><span class="icon-facebook"></span>

		<div class="content-box-title font-inc">
		Facebook
		</div>
	</div>
	</div>
</div>

<div class="col-md-1 col-sm-12">
	<div class="content-box">
		<div class="content-box-icon">
			<a href="https://www.instagram.com/circleblossom/"><span class="icon-picture"></span>
				<div class="content-box-title font-inc">
					Instagram
				</div>
		</div>
	</div>
</div>

<div class="col-md-8 col-sm-12 text-center logo">
	<a href="/"> <img src="{% static "img/logo.png" %}"> </a>
	<p class="copyright font-inc m-b-0">© 2017 -
        <script language="javascript" type="text/javascript">
                var today = new Date()
                var year = today.getFullYear()
                document.write(year)
                </script>
                <a href="/">Circle Blossom</a>, All Rights Reserved.</p>
	<p class="copyright2 font-inc m-b-0">Crafted with love by <a
         href="http://angelodidonato.com">Angelo Di Donato</a>.</p>
	       </div>

<div class="col-md-2 col-sm-12 text-center">
    <div class="content-box">
		<div class="content-box-icon">
			<a href="mailto:contactcircleblossom@gmail.com">
			<span class="icon-envelope"></span>

		<div class="content-box-title font-inc">
			contactcircleblossom
		</div>
	</div>
</div>
</div>
    </div>
		</div>
	</section>
